.contacts {
  height: 317px;
  box-sizing: border-box;

  @media (max-width: $screen-m - 1) {
    border-top: 1px solid #000;
  }

  @media (min-width: $screen-m) {
    height: 308px;
  }

  @media (min-width: $screen-lg) {
    height: 211px;
  }

  &__container {
    @include content-area();
  }

  &__title {
    @include subtitle--s();
    margin-top: 19px;

    @media (min-width: $screen-m) {
      @include subtitle--mlg();
      margin-top: 21px;
    }
  }

  &__wrapper {
    margin-top: 19px;

    @media (min-width: $screen-m) {
      margin-top: 24px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: space-between;
      margin-top: 67px;
    }
  }

  &__item {
    margin-bottom: 42px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-m) {
      margin-bottom: 23px;
    }

    .contacts-select {
      @include text-select();
      margin-top: 7px;
      padding-left: 22px;
      width: 280px;
      height: 58px;
      background-color: #f2f2f2;
      border: none;
      box-sizing: border-box;

      &::placeholder {
        @include text-select();
      }

      &:focus {
        outline: none;
      }

      // если поле невалидно, в фокусе и отсутствует placeholder, то подсвечивается ошибка
      &:invalid:focus:not(:placeholder-shown) ~ .contacts__requirements {
        display: inline-block;
      }

      // если поле невалидно, не в фокусе и отсутствует placeholder, то подсвечивается ошибка
      &:invalid:not(:focus):not(:placeholder-shown) ~ .contacts__requirements {
        display: inline-block;
      }

      @media (min-width: $screen-m) {
        width: 648px;
      }

      @media (min-width: $screen-lg){
        margin-left: 12px;
        width: 315px;
      }
    }
  }

  &__label {
    // относительно элемента перемещаю иконку
    position: relative;
  }

  &__text {
   @include text();

    @media (max-width: $screen-lg - 1) {
      display: block;
      padding-left: 20px;
    }
  }

  &__text1 {
    @media (max-width: $screen-lg - 1) {
      display: none;
    }
  }

  &__text2 {
    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 57px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    background-color: #e6e6e6;
  }

  &__requirements {
    @include text();
    display: none;
    position: absolute;
    width: 200px;
    color: #ff5c5c;

    @media (max-width: $screen-m - 1) {
      bottom: -30px;
      left: 20px;
    }

    @media (min-width: $screen-m) and (max-width: $screen-lg - 1) {
      right: -8px;
      top: 0;
    }

    @media (min-width: $screen-lg) {
      top: -25px;
      left: 108px;
    }
  }
}
