.logo {
  width: 188px;

  .logo-s {
    @media (min-width: $screen-m) {
      display: none;
    }
  }

  .logo-m {
    display: none;

    @media (min-width: $screen-m) and (max-width: $screen-lg - 1){
      display: inline-block;
      height: 83px;
    }
  }

  .logo-lg {
    @media (max-width: $screen-lg - 1) {
      display: none;
    }
  }
}
