.main-nav-toggle {

  @media (max-width: $screen-m - 1) {
    height: 223px;
    background-color: #81b3d2;
    box-sizing: border-box;

    &__item {
      height: 56px;
      text-align: center;
      list-style-type: none;
      border-bottom: 1px solid #678fa8;
      box-sizing: border-box;

      &:last-child {
        height: 55px;
        border-bottom: none;
      }
    }

    &__link {
      font-family: $font-family;
      font-weight: 700;
      font-size: $font-size;
      line-height: $line-height + 30;
      color: #fff;
      text-decoration: none;
    }
  }
}
