.navbar {
  height: 223px;
  box-sizing: border-box;

  @media (min-width: $screen-m) {
    height: 56px;
  }

  &__container {
    @include content-area();
  }

  &__btn-wrap {
    // это чтоб кнопка лежала выше nav-toggle, т.е. сверху
    position: relative;
    z-index: 2;
    float: right;
    margin-top: 16px;

    @media (min-width: $screen-m) {
      display: none;
    }
  }

  &__nav-wrapper {

    @media (max-width: $screen-m - 1) {
      // вырываем из потока nav-toggle, потому что кнопка лежит в контейнере,
      // а nav-toggle на всю ширину экрана должен быть
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}
