.page-header {
  // для того чтоб перенести треугольник и надпись Sedona
  position: relative;
  height: 437px;
  background-size: cover;

  @media (min-width: $screen-s) {
    background-image: url(../img/fon-nature--s.jpg);
  }

  @media (min-width: $screen-m) {
    height: 347px;
    background-image: url(../img/fon-nature--m.jpg);
  }

  @media (min-width: $screen-lg) {
    height: 357px;
    background-image: url(../img/fon-nature--lg.jpg);
  }

  &__wrapper {
    @media (max-width: $screen-m - 1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition: top 1s ease-out;

      &--active {
        top: 223px;
      }
    }
  }

  &__menu {
    height: 56px;
    background-color: #fff;
  }

  &__container {
    @include content-area();
    // логотип сдвинут относительно этого контейнера
    position: relative;

    @media (min-width: $screen-m) {
      height: 56px;
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $screen-m) {
      // logo лежит выше navbar
      z-index: 2;
    }
  }

  &__btn-wrap {
    float: right;
    margin-top: 17px;

    @media (min-width: $screen-m) {
      display: none;
    }
  }

  &__navbar-wrap {
    // помещаю navbar сверху на menu
    position: absolute;
    top: -223px;
    left: 0;
    width: 100%;

    @media (min-width: $screen-m) {
      top: 0px;
    }
  }

  &__icon-inner {
    // перемещаем надпись и треугодьник вниз header
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    text-align: center;
  }

  &__icon-sedona {

    svg {

      @media (min-width: $screen-m) {
        width: 458px;
        height: 78px;
      }

      @media (min-width: $screen-lg) {
        width: 461px;
        height: 79px;
      }
    }
  }

  &__icon-triangle {
    width: 100%;
    margin-top: 8px;

    @media (min-width: $screen-m) {
      margin-top: 60px;
    }
  }
}

