.personal-data {
  height: 305px;
  box-sizing: border-box;

  &:after {
    @media (min-width: $screen-m) {
      content: '';
      display: block;
      clear: both;
    }
  }

  @media (max-width: $screen-m - 1) {
    border-top: 1px solid #e5e5e5;
  }

  @media (min-width: $screen-m) {
    height: 365px;
  }

  @media (min-width: $screen-lg) {
    height: 365px;
  }

  &__container {
    @include content-area();

    @media (min-width: $screen-m) {
      float: left;
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;
      width: 324px;
      border-left: 1px solid #dbdbdb;
    }

    @media (min-width: $screen-lg) {
      width: 480px;
    }
  }

  &__title {
    @include subtitle--s();
    padding-top: 18px;

    @media (min-width: $screen-m) {
      @include subtitle--mlg();
      margin: 0;
      padding-top: 0;
      padding-left: 57px;
      text-align: left;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    @media (min-width: $screen-lg) {
      padding-left: 78px;
    }
  }

  &__wrapper {
    margin-top: 21px;

    @media (min-width: $screen-m) {
      margin-top: 59px;
      padding-left: 58px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 78px;
    }
  }

  &__item {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $screen-m) {
      margin-bottom: 20px;
    }

    .personal-data-select {
      @include text-select();
      margin-left: 14px;
      padding-left: 20px;
      width: 194px;
      height: 58px;
      background-color: #f2f2f2;
      border: none;
      box-sizing: border-box;

      &::placeholder {
        @include text-select();
      }

      &:focus {
        outline: none;
      }

      @media (min-width: $screen-m) {
        width: 178px;
      }

      @media (min-width: $screen-lg) {
        width: 312px;
      }
    }

    &:first-child .personal-data-select {
      width: 230px;

      @media (min-width: $screen-m) {
        width: 216px;
      }

      @media (min-width: $screen-lg) {
        width: 350px;
      }
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    @include text();
    line-height: 58px;
  }
}
