.showplace {
  height: 409px;
  box-sizing: border-box;

   @media (max-width: $screen-m - 1) {
    border-top: 1px solid #000;
  }

  @media (min-width: $screen-m) {
    height: 306px;
  }

  @media (min-width: $screen-lg) {
    height: 216px;
  }

  &__container {
    @include content-area();
  }

  &__title {
    @include subtitle--s();
    margin-top: 18px;

    @media (min-width: $screen-m) {
      @include subtitle--mlg();
      margin-top: 20px;
    }
  }

  &__wrapper {
    margin-top: 31px;

    @media (min-width: $screen-m) and (max-width: $screen-lg - 1) {
      padding-right: 92px;
      padding-left: 92px;
    }

    @media (min-width: $screen-m) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 57px;
    }
  }

  &__item {
    margin-bottom: 54px;
    box-sizing: border-box;

    &:nth-child(2) {
      @media (min-width: $screen-m) {
        order: 2;
      }
    }

    &:nth-child(3) {
      @media (min-width: $screen-m) {
        order: 1;
      }
    }

    &:last-child {
      margin-bottom: 0;

      @media (min-width: $screen-m) {
        order: 3;
      }
    }

    &:nth-last-child(-n+2) {
      @media (min-width: $screen-m) and (max-width: $screen-lg - 1) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-m) and (max-width: $screen-lg - 1) {
      margin-bottom: 61px;
      width: 204px;
    }

    input {
      display: none;
    }

    #showplace-select1:checked ~ .showplace__icon .tick,
    #showplace-select2:checked ~ .showplace__icon .tick,
    #showplace-select3:checked ~ .showplace__icon .tick,
    #showplace-select4:checked ~ .showplace__icon .tick {
      opacity: 1;
    }
  }

  &__controls {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: -16px;
    left: -1px;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 8px;

    @media (min-width: $screen-m) {
      left: 4px;
    }

    @media (min-width: $screen-lg) {
      left: 0;
    }

    svg {
      opacity: 0;
    }
  }

  &__text {
    @include text-select();
    padding-left: 78px;

    @media (min-width: $screen-m) {
      padding-left: 82px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 80px;
    }
  }
}
