// Блок Social
// ======================================
.social-footer {
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $screen-m) {
    width: 256px;
  }

  @media (min-width: $screen-lg) {
    width: 400px;
  }

  &__item {
    display: inline-block;
    margin-right: 3px;
    width: 46px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #81b3d2;

    &:last-child {
      margin-right: 0;
    }
  }
}
