/* pt-sans-regular*/
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/subset-PTSans-Regular.woff2') format('woff2'),
       url('../fonts/subset-PTSans-Regular.woff') format('woff'),
       url('../fonts/subset-PTSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* pt-sans-Bold*/
@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/subset-PTSans-Bold.woff2') format('woff2'),
       url('../fonts/subset-PTSans-Bold.woff') format('woff'),
       url('../fonts/subset-PTSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
