$screen-s:                   320px;
$screen-s-content:           280px;

$screen-m:                   768px;
$screen-m-content:           648px;

$screen-lg:                   1200px;
$screen-lg-content:           960px;

$text-color:                  #000;

$font-family:                 'PT Sans', sans-serif;

$font-size:                   18px;
$line-height:                 26px;
